#news{
    background-image:url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

/* #header{
    background:rgba(128, 128, 128, 0.301);
} */
