#newsBody{
    background-image:url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

#header{
    background-color: rgba(119, 136, 153, 0.575);
}
#headerTwo{
    color:whitesmoke;
}